#markdown-container h2 {
    text-align: center;
}

#markdown-container p {
    text-align: center;
}

.stuck\:rounded-b-md {
    border-bottom-right-radius: calc(var(--radius) /* 0.25rem = 4px */ - 2px);
    border-bottom-left-radius: calc(var(--radius) /* 0.25rem = 4px */ - 2px);
}